@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
  --hue: 158;
  --saturation: 36%;
  --lightness: 37%;
  --brand: hsl(var(--hue) var(--saturation) var(--lightness));
  --surface-1: hsl(0 0% 100%);
  --surface-2: hsl(30 38% 92%);
  --text-1: hsl(228 12% 48%);
  --text-2: hsl(212 21% 14%);

  --space-xxs: 0.25rem;
  --space-xs: 0.75rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;

  --ff-serif: 'Fraunces', serif;
  --ff-sans: 'Montserrat', sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-block-size: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--surface-2);

  font-family: var(--ff-sans);
  font-size: 0.875rem;
  font-weight: 500;

  display: grid;
  place-content: center;
  gap: 10vmin;
  padding: 2em;
}

/* Set minimum line-height for heading elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Content thats not visible but read by screen-readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.card {
  --max-size: 40ch;
  max-inline-size: var(--max-size);
  border-radius: 0.75ch;
  overflow: auto;
  display: grid;
  color: var(--text-1);
  background: var(--surface-1);
  box-shadow: 0 2px 2px hsl(212, 21%, 14% / 0.25);

  @media (width > 640px) {
    --max-size: 65ch;
    grid-template-columns: repeat(2, 1fr);
  }

  & > div {
    padding: var(--space-md);
    display: grid;

    @media (width > 640px) {
      padding: var(--space-lg);
    }
  }

  & > picture > img {
    object-fit: cover;
    block-size: 100%;
  }

  & h3 {
    color: var(--text-2);
    font-family: var(--ff-serif);
    margin-top: var(--space-xs);
    font-size: 2.25rem;
    font-weight: 700;
  }

  & p {
    margin-top: var(--space-sm);
  }

  & > div > div {
    margin-top: var(--space-lg);
    display: inline-grid;
    gap: 1.5ch;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
  }

  & strong {
    color: var(--brand);
    font-family: var(--ff-serif);
    font-size: 2rem;
    line-height: 1.1;
  }

  & span {
    text-transform: uppercase;
    letter-spacing: 6px;
  }

  & button {
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    color: var(--surface-1);
    background: var(--brand);
    border: none;
    border-radius: 0.5ch;

    margin-top: var(--space-sm);
    padding-inline: var(--space-xs);
    padding-block: var(--space-xs);

    inline-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5ch;

    & span {
      inline-size: 1.5rem;
      block-size: 1.5rem;
      display: grid;
      place-content: center;
    }

    &:hover {
      background: hsl(var(--hue) var(--saturation) 22%);
    }
  }
}

.attribution {
  text-align: center;

  & a {
    color: var(--brand);
  }
}
